<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            <link rel="stylesheet" href="/css/knacss-unminified.css">
        {% endblock %}
    </head>

    <body>
        <nav class="main-nav">
            <ul>
                <li><a class="btn" href="">Actualités</a></li>
                <li><a class="btn" href="">Nous</a></li>
                <li><a class="btn" href="">Témoignages</a></li>
                <li><a class="btn" href="">Partenaires</a></li>
                <li><a class="btn" href="">FAQ</a></li>
                <li><a class="btn" href="">Contact</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
