{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container home">
        <div class="grid">
            <aside class="one-sixth">
                <h1>SPEAK2</h1>
                <h6>Ouvrez grandes vos oreilles, apprennez et parlez</h6>
                <div class="form">
                    <input type="text"  placeholder="Identifiant">
                    <input type="text"  placeholder="Mot de passe">
                </div>
                <p><a class="btn" href="#" role="button">connexion</a></p>
            </aside>

            <div class="content tiny-hidden small-hidden">
                <p>BODY</p>
                <a class="btn" href="{{ path('profil') }}">Profil</a>
                <a class="btn" href="{{ path('tchat') }}">Tchat</a>
            </div>
        </div>
    </div>
{% endblock %}
